@{
    ViewBag.Title = "About the Editors";
}
<h2>@ViewBag.Title</h2>
<h3 style="color:white">@ViewBag.Message</h3>
<hr />

<div class="About">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h4>Chris Palmer</h4>
                <p style="font-size: 25px; padding-top: 15px;"><i>Self-proclaimed Star Wars fanatic, Chris has dressed up as Yoda for nine consecutive Halloweens</i></p>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/Chris.png" style="width:86%" />
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-lg-4">
                <img src="~/Content/Images/Sean.png" />
            </div>
            <div class="col-lg-8">
                <h4>Sean Burnham</h4>
                <p style="font-size: 25px; padding-top: 15px;"><i>Sean loves losing himself in the Star Wars World, having read more Star Wars books than all of his classmates combined</i></p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-lg-8">
                <h4>Spencer Finnegan</h4>
                <p style="font-size: 25px; padding-top: 15px;"><i>Spencer is new to the Star Wars franchise, but is catching up quickly (currently on Episode III)</i></p>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/Images/Spencer.png" />
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-lg-4">
                <img src="~/Content/Images/Zac.png" />
            </div>
            <div class="col-lg-8">
                <h4>Zac Clark</h4>
                <p style="font-size: 25px; padding-top: 15px;"><i>Zac shows his love for Star Wars by maintaining his long jedi braid</i></p>
            </div>
        </div>
        <hr />

    </div>
</div>
