@{
    ViewBag.Title = "Welcome to the conversation!";
}
<h2 style="color:white;">@ViewBag.Title</h2>

<table class="table-responsive" width="100%" style="color:white">
    <thead>
        <tr>
            <th>Discussion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="container-fluid">
                    <div class="panel panel-danger">
                        <div class="panel-heading">What Dark Lord did Darth Bane kill to become the Lord of the sith?</div>
                        <div class="panel-body">
                            <div class="row, form-inline">
                                Response:
                                <div class="form-group">
                                    <label for="inputlg"></label>
                                    <textarea class="form-control" rows="3" id="comment" style="width:100%"></textarea>
                                </div>
                                <button type="button" class="btn btn-danger" onclick="null">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container-fluid">
                    <div class="panel panel-danger">
                        <div class="panel-heading">What Dark Lord did Darth Bane kill to become the Lord of the sith?</div>
                        <div class="panel-body">
                            <div class="row, form-inline">
                                Response:
                                <div class="form-group">
                                    <label for="inputlg"></label>
                                    <textarea class="form-control" rows="3" id="comment" style="width:100%"></textarea>
                                </div>
                                <button type="button" class="btn btn-danger" onclick="null">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container-fluid">
                    <div class="panel panel-danger">
                        <div class="panel-heading">What Dark Lord did Darth Bane kill to become the Lord of the sith?</div>
                        <div class="panel-body">
                            <div class="row, form-inline">
                                Response:
                                <div class="form-group">
                                    <label for="inputlg"></label>
                                    <textarea class="form-control" rows="3" id="comment" style="width:100%"></textarea>
                                </div>
                                <button type="button" class="btn btn-danger" style="margin-top:10px" onclick="null">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
