@model IEnumerable<StarWarsWebsite.Models.Questions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   

@foreach (var item in Model) {
    <tr>
        <td>
            <div class="container-fluid">
                <div class="panel panel-danger">
                    <div class="panel-heading">@Html.DisplayFor(modelItem => item.question)</div>
                    <div class="panel-body">
                        <div class="row, form-inline">Answer:</div>
                            
                            <div class="form-group">
                                <label>@Html.DisplayFor(modelItem => item.answer)</label>
                            </div>
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Edit", "Questions", new { id=item.QuestionID })'">Edit Answer</button>
                        </div>
                    </div>
                </div>
        </td>
    </tr>
}

</table>


